/* This is almost the same as title. Could be merged in one css file (maybe index.css) */


.lineBar {
    border-bottom: 2px solid var(--gainsboro); /*2px  solid;*/
    width: 100%;
}

.lineTextStyle {
    width: 100%;
    flex-basis: 80%;
    align-self: baseline;
    font-family: Montserrat sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.lineButtonStyle {
    width: 100%;
    flex-basis: 20%;
}

.lineContainer {
    display: flex;
    height: 3em;
    justify-content: space-between;
}
